.gameContainer{
  display: flex;
  justify-content: center;
  .board{
    color: var(--terciaryColor);
    .nextPlayer{
      text-align: center;
      font-size: 9rem;
    }
    .row{
      text-align: center;
      user-select: none;
      .cell{
        text-align: center;
        height: 7rem;
        width: 7rem;
        font-size: 8rem;
        font-weight: 900;
        margin: 0 .4rem .5rem;
        color: transparent;
        cursor: pointer;
        user-select: none;
        outline: none;
        border: none;
        &:hover{
          box-shadow: 0 0 10px 1px white;
          z-index: 10;
        }
      }
      .clicked{
        color: black;
      }
    }
  }
  .isGameOver{
    font-size: 7.5rem;
  }
  .reset{
    color: var(--fithColor);
    position: relative;
    font-size: 6rem;
    width: 16rem;
    padding: .2rem 1rem;
    margin: 1rem auto;
    background: var(--secondaryColor);
    z-index: 0;
    cursor: pointer;
    transition: 1s;
    &::after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      background: #00a9a6a9;
      z-index: -1;
      transition: 1s;
    }
    &:hover{
      color: var(--primaryColor);
      background: var(--terciaryColor);
      box-shadow: inset 11px 11px 10px 1px rgba(0, 0, 0, 0.5),
                  inset -11px 0 10px 1px rgba(0, 0, 0, 0.5);
      z-index: 100;
    }
    &:hover::after{
      box-shadow: inset 11px -11px 10px 1px rgba(0, 0, 0, 0.5),
                  inset -11px -11px 10px 1px rgba(0, 0, 0, 0.5);
      background-color: var(--terciaryColor);
    }
  }
}
