/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Halant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
}

:root{
  --primaryColor : #092327;
  --secondaryColor : #0B5351;
  --terciaryColor: #00A9A5;
  --forthColor: #4E8098;
  --fithColor: #90C2E7;
}

html{
  font-family: 'Nunito sans';
  background: var(--primaryColor);
}
